*{
    margin: 0;
    padding: 0;
}
nav{
    margin: 30px;
}
ul{
    list-style: none;
}
ul li {
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    background-color: rgb(224, 86, 123);
    cursor: pointer;
    
}
ul li:hover{
    background-color: aqua;
}
ul li a {
    text-decoration: none;
}
li:hover div.nav-list{
    display: block;
}
div.nav-list{
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 150px;
    border-top: 15px solid transparent;

}

.nav-list a{
    text-align: center;
    display: block;
    background-color: aqua;
    padding: 20px 30px;
    color: aliceblue;  
    border: 1px solid transparent;
    
      
}

.nav-list::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: aqua;
    transform:  rotate(45deg);
    z-index: -1;
    top: -11px;
    left: 10px;
}
.nav-list a:hover{
    background-color: rgb(168, 122, 42);
}

